# ignore everything
*

# dont ignore subdirectories, so we can recurse
!*/

# But not the below
!README.md
!.gitignore
!**/*.yaml
!deploy_patch.sh

# no custom_components for now
custom_components/emulated_hue
custom_components

# And of course no secrets
secrets.yaml
